* {
    font-family: calibri, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pagetitle {
    font-family: "Brush Script MT" ;
    text-align: center;
    color: forestgreen;
    background-color: palegreen;
    font-size: 50pt;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 1px solid forestgreen;
}

.tab {
    overflow: hidden;
    border: 1px solid forestgreen;
    background-color: #232923;
    display: block;
    border-top: none;
    border-bottom: none;
    margin: 0 5%;
}

.tab button {
    background-color: inherit;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 13.3%;
    transition: 0.3s;
    text-align: center;
    font-size: 18pt;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: white;
    color: black;
}

.tab button:disabled {
    background-color: slategray;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    margin-left: 35%;
    border-top: none;
}

.tabtitle {
    margin: 10px 0

}

.tabtext {
    margin-bottom: 8px;

}

.listtext {
    text-transform: capitalize;
    padding-left: 6px;
}

.carttext {
    text-transform: capitalize;
}

.cartbutton {
    padding: 4px 10px;
    margin: 20px 25px;
    font-size: 12pt;
}

.checkout {
    padding: 4px 10px;
    margin: 20px 30px;
    font-size: 12pt;
}

.radiobutton {
    margin: 0 8px;
}

.clientnext {
    padding: 3px 20px;
    margin: 20px 10%;
    font-size: 14pt;
}

.preflabel {
    font-size: 13pt;
}

.priceline {
    padding-top: 8px;
}

html {
    min-height: 100%;
    position: relative;
}

.body {
    background-color: #eaf2aa;
    margin-bottom: 30px;

}

.footer {
    text-align: center;
    color: forestgreen;
    background-color: palegreen;
    font-size: 12pt;
    padding-top: 6px;
    padding-bottom: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid forestgreen ;
}

.listimg {
    border: 2px solid #dddddd;
    border-radius: 2px;
    padding: 2px;
    margin: 10px 7px -5px 15px;
    height: 50px;
    width: 50px;
}

.listimg:hover {
    box-shadow: 0 0 4px lightblue;
}

.displayproduct {
    margin: 0;
}
